@import "../assets/styles/variables.scss";
@import "../assets/styles/tailwind.scss";

.label {
  color: $primary;
  margin: 5px;
  display: block;
}

.primary {
  border: 2px solid $primary;
  background-color: $primary;
  border-radius: 50%;
  color: white;
  margin: 5px;
  display: inline-block;
}

.counter {
  color: $primary;
  margin: 0 10px;
  display: inline-block;
}

.roundedBorder {
  border: 1px solid $primary;
  padding: 2px;
  border-radius: 20px;
  width: fit-content;
}
