@import "../assets/styles/variables.scss";
@import "../assets/styles/tailwind.scss";

.storybookButton {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  &:hover {
    background-color: white;
    color: black;
  }
}
.storybook-button--primary {
  color: $primary-font-color !important;
  background-color: $primary !important;
}
.storybook-button--secondary {
  color: $secondary-font-color !important;
  background-color: $secondary !important;
}

.storybook-button--tertiary {
  color: $tertiary-font-color !important;
  background-color: $tertiary !important;
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
