@import "../assets/styles/variables.scss";
@import "../assets/styles/tailwind.scss";

.title {
  color: $primary-font-color;
}
.image {
  width: 100%;
}
.description {
  color: $foreground-color-light;
}

.secondaryTitle {
  color: $primary;
}

.detail {
  background-color: $background-color;
}
